.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}

.bubbles:hover {
    stroke: black;
}

#slider {
    display: inline-block;
    color: red;
    background-color: pink;
    width: 50%;
}

#chart_root {
    margin-top: 20px;
}

.tooltip {
    z-index: 1000;
    position: absolute;
    left: 200px;
    font-weight: bold;
    text-align: center;
}